/*********************
GENERAL
*********************/
h1 {
	text-align: center;
	margin: 1em;
}

h2 {
	text-align: center;
	padding-bottom: .25em;
}

section {
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 60%;
	background: lightgrey;
	padding: .5em;
}

.intro {
	margin: auto;
	font-size: 14px;
}

section button {
	display: block;
	margin: auto;
	text-align: center;
}

/*********************
FORMS
*********************/
form {
	margin: auto;
	padding: .5em;
}

.hidden {
	display:none;
}

legend {
	margin: auto;
}

select {
	display: block;
	margin: auto;
}

input[type="radio"] {
	margin: 0;
}

input[type="radio"] label {
	display: inline;
	margin: auto;
}

.form, .submit {
	display: none;
}

#amount p {
	margin: auto;
	padding-bottom: .5em;
}

#amount p.amount {
	text-align: center;
	font-size: 1.25em;
	padding-bottom: 1em;
}

/*********************
FOOTER
*********************/
.twitter {
	text-decoration: none;
	color: #00aced;
}

footer {
	text-align: center;
	margin: 1em;
	padding: .25em;
}